.wordcloud-container {
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;

  .tagcloud {
    color: #ffd700;
    opacity: 0.5;
    font-family: 'Coolvetica', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin: 10% auto;
  }
  .tagcloud--item:hover {
    color: aliceblue;
  }
}


@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1::before,
  .home-page h1::after{
      display: none;
  }

  .skills-page{
      .text-zone{
          position: initial;
          width: 100%;
          transform: none;
          padding: 10px;
          box-sizing: border-box;
      }
      .wordcloud-container{
          position: initial;
          width: 100%;
          height: 0%;
          overflow: hidden;

          .tagcloud {
            color: #ffd700;
            opacity: 0.5;
            font-family: 'Coolvetica', sans-serif;
            font-size: 15px;
            font-weight: 200;
            margin: 10% auto;
          }
      }
  }
  
}