.photo-container {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 0%;
  position: absolute;
  right: 0;

  .mohsvg {
    width: 75%;
    padding-left: 15%;
    height: auto;
  }
  .mohphoto {
  position: absolute;
  left: 0;
  opacity: 0;
  margin: auto;
  padding-left: 15%;
  width: 75%;
  &:hover{
    opacity: 1;
  }
}
}

.svg-container {
stroke: #ffd700;
stroke-width: 15;
}